AB_BASE_URL=https://test.accelbyte.io
AB_NAMESPACE=accelbyte
AB_CLIENT_ID=
AB_CLIENT_SECRET=
PLUGIN_GRPC_SERVER_AUTH_ENABLED=true
BASE_PATH=/eos-matchmaking

# Epic Games Configuration
EPIC_CLIENT_ID=
EPIC_CLIENT_SECRET=
EPIC_DEPLOYMENT_ID=
EPIC_BASE_URL=https://api.epicgames.dev